body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f0b32;
    margin: 0;
    padding: 0;
}

.news-header {
    background-color: #4a6fa5;
    display: grid;
    width: 100%;
    height: 100%;
    margin-top: 109px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    row-gap: 7px;
    padding: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    /* Box shadow for the header */
}

.news-header h1 {
    color: white;
    text-align: left;
}

.News-header-content {
    color: rgb(211, 211, 211);
}

.news-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "new-title" "new-date" "new-descreption" "edit-delete";
    gap: 20px;
    padding: 20px;
    background-color: #0f0b32;
    justify-content: center;
    /* Centers items horizontally */
    align-items: center;
    /* Centers items vertically */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    /* Box shadow for the container */
}

.news-item {

    background-color: #d9e6f2;
    padding: 20px;
    width: 70%;
    /* Adjust the width as needed */
    color: #0f0b32;
    border-radius: 5px;
    margin: 0 auto;
    /* Ensures the news item is centered */
}

.news-item h3 {
    color: #0f0b32;
    margin: 0;
    font-size: 1.5em;
    position: relative;
    padding-bottom: 5px;
    background-image: linear-gradient(to right, #001226 0%, #001226 100%);
    background-size: 0% 2px;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease;
}

.news-item h3:hover {
    background-size: 100% 2px;
}

.news-item a {
    text-decoration: none;
    color: #0f0b32;
}

.news-item .date {
    font-size: 0.9em;
    margin: 10px 0;
    color: #666;
}

.news-item .description {
    font-size: 1em;
}

.Edit {
    color: #007bff !important;
    /* Blue color for the Edit button */
    font-size: 18px;
    transition: transform 0.3s, color 0.3s;
    padding: 5px;
}

.Delete {
    color: #dc3545 !important;

    font-size: 18px;
    transition: transform 0.3s, color 0.3s;
    padding: 5px;
}

/* Add hover styles */
.Edit:hover {
    color: #0f0b32 !important;
    /* Darker shade of blue on hover */
}

.Delete:hover {
    color: #0f0b32 !important;

}

edit-delete-container {
    grid-area: edit-delete;
}

.Delete,
.Edit {
    justify-self: end;
    text-align: right;
    display: inline-block;
    cursor: pointer;
    margin-top: 5px;
    padding: 5px;

}

.fixed-button {
    position: sticky;
    /* fixed to viewport */
    z-index: 1;
    left: 20px;
    bottom: 20px;
    font-size: 24px;
    width: 60px;
    /* consistent size for circle */
    margin-left: 3%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* perfect circle */
    background-color: #007bff;
    /* primary color */
    color: white;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* slight shadow */
}

.fixed-button:hover {
    background-color: #0056b3;
    /* darker shade on hover */
    cursor: pointer;
}

@media (max-width: 900px) {
    .fixed-button {
        font-size: 20px;
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 720px) {
    .fixed-button {
        font-size: 18px;
        width: 45px;
        height: 45px;
        left: 15px;
        bottom: 15px;
    }
}

@media (max-width: 576px) {
    .fixed-button {
        font-size: 16px;
        width: 40px;
        height: 40px;
        left: 10px;
        bottom: 10px;
    }
}

@media (max-width:576px) {
    .news-header {
        margin-top: 80px;
    }
}