body {
    font-family: Arial, sans-serif;
    background-color: #0f0b32;
    margin: 0;
    padding-top: 125px;
}

h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #ffffff;
    margin: 30px;

}

.canteenTable {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 40px;
}

.canteenTable th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.canteenTable th {
    background-color: #3dab82;
    color: white;
    text-align: center;
}

.canteenTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.canteenTable tr:hover {
    background-color: #e2e2e2;
}

.canteenTable td {
    text-align: center;
}

.canteenTable td:nth-child(3) {
    text-align: center;
    padding-left: 20px;
}

.edit-button {
    display: grid;
    position: sticky;
    bottom: 20px;
    left: 20px;
    padding: 35px;
    width: 150px; 
    height: 50px;
    perspective: 800;
    transition: all 0.3s ease-in-out;
}

.edit {
    position: absolute;
    padding: 12.5px 35px;
    width: auto;
    height: auto;
    background-color: #3dab82;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.edit:hover {
    background-color: #3dab82;
    transform: scale(1.1);
}

@media screen and (max-width: 700px) {
    .canteenTable {
        width: 100%; /* Make the table take full width */
        font-size: 14px; /* Slightly reduce font size for better readability */
    }
}