body{
    padding-top:125px;
}

.custom-bg-black {
    background-color: black !important; /* Ensure it's purely black */
}

h1 {
    text-align: center;
}

.student-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #ffffffdb;
}

.student-form input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #3c4046;
    border-radius: 8px;
}

.student-form label  {
    display: inline-block;
    padding: 5px;
    position: relative;
}

.student-form button {
    padding: 10px;
    margin-top: 20px;
    background-color: #0f0b32;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.student-form button:hover {
    background-color: #e6e6e6;
    color: #0f0b32;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}

th {
    background-color: #f2f2f2;
}

/* Responsive table: */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        padding: 8px;
        font-size: 12px;
    }

    td a {
        font-size: 12px;
    }

    td a i {
        font-size: 12px;
    }
    
    /* Adjust image size on smaller screens */
    .student-img {
        width: 40px;
        height: 40px;
    }
}

/* For even smaller screens */
@media screen and (max-width: 480px) {
    th, td {
        padding: 6px;
        font-size: 9px;
    }

    td a {
        font-size: 10px;
    }

    td a i {
        font-size: 10px;
    }

    .student-img {
        width: 30px;
        height: 30px;
    }
}

/* Student image styling */
.student-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* Action buttons smaller size */
td a {
    margin-right: 5px;
    padding: 5px 5px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

td a {
    margin-right: 5px;
    padding: 5px;
    text-decoration: none;
    color: white;
}

td a.Edit {
    color: #007bff;
    font-size: 18px;
    transition: transform 0.3s, color 0.3s;
}

td a.Edit:hover {
    color: #0f0b32;
    transform: scale(1.2);
}

/* Style for Delete icon */
td a.Delete {
    color: #dc3545;
    font-size: 18px;
    transition: transform 0.3s, color 0.3s;
}

td a.Delete:hover {
    color: #000000;
    transform: scale(1.2);
}

/* Optional: Adjust spacing and layout of icons */
td a i {
    padding: 5px;
    cursor: pointer;
}
