body {
    padding-top: 125px;
    user-select: none;
}

.header {
    margin-top: 100px;
    text-align: center;
}

.Welcome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
}

@keyframes typing {
    0%  { content: ""; }
    2%  { content: "C"; }
    4%  { content: "CA"; }
    6%  { content: "CAM"; }
    8%  { content: "CAMP"; }
    10%  { content: "CAMPU"; }
    12%  { content: "CAMPUS"; }
    14%  { content: "CAMPUS C"; }
    16%  { content: "CAMPUS CO"; }
    18%  { content: "CAMPUS CON"; }
    20%  { content: "CAMPUS CONN"; }
    22%  { content: "CAMPUS CONNE"; }
    24%  { content: "CAMPUS CONNEC"; }
    26%  { content: "CAMPUS CONNECT"; }
    63%  { content: "CAMPUS CONNECT"; }
    65%  { content: "CAMPUS CONNEC"; }
    67%  { content: "CAMPUS CONNE"; }
    69%  { content: "CAMPUS CONN"; }
    71%  { content: "CAMPUS CON"; }
    73%  { content: "CAMPUS CO"; }
    75%  { content: "CAMPUS C"; }
    77%  { content: "CAMPUS"; }
    79%  { content: "CAMPU"; }
    81%  { content: "CAMP"; }
    83%  { content: "CAM"; }
    85%  { content: "CA"; }
    87%  { content: "C"; }
    88%  { content: ""; }
    100% { content: ""; }
}

.project-name::after {
    content: "";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: #0f0b32;
    border-right: 2px solid #0f0b32; /* Cursor effect */
    white-space: nowrap;
    animation: typing 4s forwards infinite;
}

.welcome-paragraph {
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 100px;
}

/* Card styles */
.News-Home {
    padding: 50px 0;
    background-color: #f9fafb;
    position: relative;
}

.latest-news {
    text-align: center;
    margin-bottom: 40px;
}

.news-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 300px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-date {
    display: block;
    font-size: 14px;
    color: #a0a0a0; /* Light gray */
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-title {
    font-size: 20px;
    color: #0f0b32;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}

.card-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

/* Styles for View All News Button in Bottom Right */
.btn-view-all-news {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: rgb(17, 3, 48);
    padding: 0 10px;
    font-size: 26px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s ease-in-out;
}

/* Underline animation */
.btn-view-all-news::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(17, 3, 48); /* Same as text color */
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-in-out;
}

.btn-view-all-news:hover {
    color: #0f0b32;
}

.btn-view-all-news:hover::after {
    width: 100%; /* Expands underline to full width */
}

/* Arrow Styling */
.arrow {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.btn-view-all-news:hover .arrow {
    transform: translateX(10px); /* Fleche (arrow) scales to the right */
}


.btn-primary {
    background-color: #2e2a5b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0f0b32;
}


.bold-text {
    font-weight: bold;
    color: #000000; /* Black or dark gray for the bold text */
}

.regular-text {
    font-weight: 400;
    color: #6e6e6e; /* Lighter gray for the regular text */
}

.services-section {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px 20px;
    background-color: #f9fafb;
}

.services-title {
    font-family: Arial, sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: #6e6e6e;
}

.services-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin: 20px , 0;
}

.noUnderLine .service-block , .service-block{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    width: 250px;
    height: 305px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    user-select: none;
}

.service-block:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.service-block h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #0f0b32;
}

.service-block p {
    font-size: 16px;
    color: #6e6e6e;
}



.custom-bg-black {
    background-color: black !important;
}

/* Stats Section */
.stats-section {
    margin: 50px 0;
    background-color: #f9fafb;
    padding: 40px;
    border-radius: 10px;
}

.stats-section h3 {
    font-size: 36px;
    color: #0f0b32;
}

.stats-section p {
    font-size: 20px;
    color: #6e6e6e;
}


.service-block:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.content {
    opacity: 0;
    transition: opacity 1s ease-in-out , transform 0.3s ease-in-out;
}

.content.visible {
    opacity: 1;
}

.stat-icon {
    font-size: 3rem;
    color: #3c8dbc;
}

.stat-counter {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    transition: all 1.5s ease-in-out;
}


.service-block:hover .card-btn{
opacity: 1;
}
.filter h3,
.filter p ,
.filter i{
    transition: filter 0.7s ease; /* Smooth filter transition */
}

.filter:hover h3,
.filter:hover p ,
.filter:hover i{
    filter: blur(3px); /* Apply blur effect on hover */
}

.card-btn-container {
    position: absolute; /* Position buttons absolutely */
    bottom: 35%; /* Distance from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px; /* Space between buttons */
    width: 80%;
}

.card-btn {
    background-color: #0f0b32; /* Button background color */
    color: #ffffff; /* Text color */
    padding: 10px 20px; /* Button padding */
    border-radius: 5px; /* Button border radius */
    transition: background-color 0.3s ease, transform 0.3s ease,opacity 0.5s; /* Smooth transition */
    text-decoration: none; /* No text decoration */
    opacity: 0;  
}
a{
    text-decoration: none;
}
.card-btn:hover {
    background-color: rgba(15, 11, 50, 0.8); /* Darken on hover */
    transform: translateY(-3px); /* Lift button on hover */
}

.service-icon {
    font-size: 50px;
    color: #0f0b32;
    margin-bottom: 30px;
}

/* Stats Section Icons */
.stat-icon {
    font-size: 35px;
    color: #0f0b32;
    margin-bottom: 10px; /* Space between the image and text */
}
@media (max-width: 576px) {
    body {
        padding-top: 100px;
    }

    .Welcome {
        font-size: 50px;
    }

    .project-name::after {
        font-size: 40px;
    }

    .welcome-paragraph {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .stats-section h3 {
        font-size: 24px;
    }

    .stats-section p {
        font-size: 16px;
    }

    .services-title {
        font-size: 28px;
    }

    .services-title .regular-text {
        font-size: 16px;
    }

    .services-blocks {
        display: block;
    }

    .service-block {
        width: 100%;
        margin-bottom: 20px;
    }

    .service-block h3 {
        font-size: 20px;
    }

    .service-block p {
        font-size: 16px;
    }

    .stat-icon {
        font-size: 20px; /* Smaller size for mobile devices */
    }
}

/* Medium devices (576px to 768px) */
@media (min-width: 576px) and (max-width: 768px) {
    .Welcome {
        font-size: 70px;
    }

    .project-name::after {
        font-size: 60px;
    }

    .welcome-paragraph {
        font-size: 24px;
    }

    .stats-section h3 {
        font-size: 30px;
    }

    .stats-section p {
        font-size: 18px;
    }

    .services-title {
        font-size: 30px;
    }

    .services-title .regular-text {
        font-size: 18px;
    }

    .services-blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-block {
        width: 90%;
    }
}

/* Large devices (768px to 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    .Welcome {
        font-size: 90px;
    }

    .project-name::after {
        font-size: 70px;
    }

    .welcome-paragraph {
        font-size: 26px;
    }

    .stats-section h3 {
        font-size: 32px;
    }

    .stats-section p {
        font-size: 18px;
    }

    .services-title {
        font-size: 32px;
    }

    .services-title .regular-text {
        font-size: 20px;
    }

    .services-block {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-block {
        width: 40%;
    }
}

/* Extra-large devices (992px and up) */
@media (min-width: 992px) {
    .Welcome {
        font-size: 120px;
    }

    .project-name::after {
        font-size: 80px;
    }

    .welcome-paragraph {
        font-size: 30px;
    }

    .stats-section h3 {
        font-size: 36px;
    }

    .stats-section p {
        font-size: 20px;
    }

    .services-title {
        font-size: 36px;
    }

    .services-title .regular-text {
        font-size: 22px;
    }

    .services-block {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .service-block {
        width: 250px;
    }
}
/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .news-cards, .services-blocks {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .Welcome {
        font-size: 50px;
    }

    .project-name::after {
        font-size: 40px;
    }

    .welcome-paragraph {
        font-size: 18px;
    }

    .news-cards, .services-blocks {
        align-items: center;
    }

    
}

@media (max-width: 590px) {
    .Welcome {
        font-size: 40px;
    }

    .project-name::after {
        font-size: 30px;
    }

    .welcome-paragraph {
        font-size: 18px;
    }

    .news-cards, .services-blocks {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

