body {
    background-color: #0f0b32;  
    min-height: 100vh;
    position: relative; 
    overflow-x: hidden; 
}
#search-button{
    display: none;
}
.news-header {
    background-color: #4a6fa5;
    display: grid;
    width: 100%;
    padding: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.news-header h1 {
    color: white;
    text-align: left;
}

.News-header-content {
    color: rgb(211, 211, 211);
}

.news-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #0f0b32;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.news-item {
    background-color: #d9e6f2;
    padding: 20px;
    width: 67%;
    color: #0f0b32;
    border-radius: 5px;
    margin: 0 auto;
}

.news-item h3 {
    color: #0f0b32 !important;
    margin: 0;
    font-size: 1.5em;
    position: relative;
    padding-bottom: 5px;
    background-image: linear-gradient(to right, #001226 0%, #001226 100%);
    background-size: 0% 2px;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease;
}

.news-item h3:hover {
    background-size: 100% 2px;
}

.news-item a {
    text-decoration: none;
    color: #0f0b32 ;
}

.news-item .date {
    font-size: 0.9em;
    margin: 10px 0;
    color: #666;
}

.news-item .description {
    font-size: 1em;
}

.edit-delete-container {
    margin-top: 10px;
    text-align: right;
}

.fixed-button {
    position: sticky;
    z-index: 1000;
    left: 15px;
    bottom: 15px;
    font-size: 35px;
    width: 60px;
    height: 60px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.fixed-button:hover {
    background-color: #0056b3;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
}

.search-input {
    padding: 10px 14px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 200px;
    outline: none;
    margin-right: 5px;
    transition: all 0.3s ease;
    margin-left: -4.5%;

}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.search-button {
    padding: 7px 15px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

@media (max-width: 1200px) {
    .news-item {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .news-item {
        width: 90%;
    }

    .fixed-button {
        width: 50px;
        height: 50px;
        left: 5px;
    }
}

@media (max-width: 720px) {
    .fixed-button {
        width: 45px;
        height: 45px;
        left: 15px;
        bottom: 15px;
    }
}

@media (max-width: 576px) {
    .fixed-button {
        width: 40px;
        height: 40px;
        left: 10px;
        bottom: 10px;
    }
}