body {
    /* padding-top: 125px;  */
    background-color: #0f0b32;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    min-height: 100vh; /* Ensure body takes full viewport height */
}

.custom-bg-black {
    background-color: black !important; /* Ensure it's purely black */
}

.Form-container {
    background-color: white;
    color: #0f0b32;
    padding: 20px;
    border-radius: 8px;
    width: 80%; 
    max-width: 600px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto; /* Center the form horizontally */
    margin-top: 20px; /* Add some space above the form */
    flex-grow: 1; /* Allow the form container to take up available space */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    transition: border-color 0.3s ease; /* Smooth transition for focus effect */
}

input[type="file"] {
    padding: 0;
}

textarea {
    resize: none;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox input {
    margin-right: 10px;
}

.logo_img {
    height: 70px;
    width: 70px;
}

.logo_footer {
    height: 160px;
}

.listing-img {
    height: 480px;
}

footer {
    margin-top: 50px; /* Push footer to the bottom */
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-bottom: 5px; /* Add some margin below the error */
    display: none; /* Initially hide error messages */
}

input.error, select.error, textarea.error {
    border: 1px solid red; /* Highlight the border in red */
    outline: none; /* Remove default outline */
}

 

/* Responsive Styles */
@media (max-width: 768px) {
    .Form-container {
        width: 90%; /* Make it wider on smaller screens */
        padding: 15px; /* Adjust padding */
    }

    h1 {
        font-size: 24px; /* Adjust font size */
    }
}
