body{
    padding-top:125px;
}
:lang(ar) {
    font-family: "Tajawal", sans-serif;
}

.nav-link {
    text-decoration: none;
    color: #000;
    position: relative;
    padding-bottom: 5px; /* Space between text and underline */
    background-image: linear-gradient(to right, #001226 0%, #001226 100%);
    background-size: 0% 2px; /* Initially, the underline is hidden */
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease; /* Smooth transition */
}

.nav-link:hover {
    background-size: 100% 2px; /* Underline grows from left to right */
}

.nav-link.active {
    font-weight: bold; /* Bold for active link */
    background-size: 100% 2px; /* Keep underline for active link */
}

.custom-bg-black {
    background-color: black !important; /* Ensure it's purely black */
}

/* General styles */
footer{
    bottom: 0;
}
/* Hover effects */


.logo_img {
    height: 70px;
    width:70px;
}

.logo_footer{
    height: 160px;
}
.listing-img {
    height: 480px;
    width: 480px;
}

.submit:hover {
    background-color: #2e2a5b;
}

.noUnderLine {
    text-decoration: none;
}

button {
    padding: 10px;
    background-color: #0f0b32; 
    color: white ;
    border: none;
    border-radius: 4px;
    cursor: pointer ;
    transition: background-color 0.3s ease ;
}

button:hover {
    background-color: #2e2a5b;
}

.wrapper {
    display: flex;
    justify-content: center; /* 1fr for buttons, auto for the image */
    align-items: center;
    float: left;
    width: 100%; 
    margin-top: 30px;/* Align items vertically */
}

.footer-image {
    display: flex;
    justify-content: flex-end; /* Ensure the image is aligned to the right */
}

.footer-image img {
    max-width: 150px; /* Adjust size as needed */
    max-height: 150px;
    margin-right: 15px;
}

/* Social media button styles */
.wrapper .button {
    display: inline-block;
    overflow: hidden;
    height: 60px;
    width: 60px;
    /* float: left; */
    margin: 0 5px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    line-height: 60px;
    transition: all 0.3s ease-out;
    box-sizing: border-box;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    display: none; /* Hidden until hover */
}

.wrapper .button:hover span {
    display: inline-block; /* Show text on hover */
}

/* Hover colors for social icons */
.wrapper .button:nth-child(1):hover .icon {
    background: #4267b2;
}

.wrapper .button:nth-child(1):hover span {
    color: #4267b2;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #1da1f2;
}

.wrapper .button:nth-child(2):hover span {
    color: #1da1f2;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #ff0000;
}

.wrapper .button:nth-child(3):hover span {
    color: #ff0000;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #333;
}

.wrapper .button:nth-child(4):hover span {
    color: #333;
}

.wrapper .button:nth-child(5):hover .icon {
    background: #e1306c;
}

.wrapper .button:nth-child(5):hover span {
    color: #e1306c;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
}

@media screen and (max-width: 700px) {
    .footer-image {
        display: block;

    }
    
    .footer-image img {
        max-width: 100px; /* Adjust size as needed */
        max-height: 100px;
        margin: 15px 0;
    }
    .wrapper .button:hover {
        width: 60px;
    }
    .wrapper .button:hover span {
        display: none; /* do not Show text on hover */
    }
    .test{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*every input area must have the same focus animation*/
input:focus,
textarea:focus,
select:focus,
[contenteditable="true"]:focus {
    color: #212529;
    background-color: #fff; 
    border-color: #0f0b32 !important;
    outline: none !important;
    box-shadow: none !important;
}
